Source: kwave
Section: kde
Priority: optional
Maintainer: Debian KDE Extras Team <pkg-kde-extras@lists.alioth.debian.org>
Uploaders: Mark Purcell <msp@debian.org>
Build-Depends: debhelper (>= 7.0.50~), pkg-kde-tools (>= 0.4),
 kdelibs5-dev (>= 4:4.2.0), gettext, pkg-config,
 libsamplerate0-dev, libpulse-dev,
 imagemagick, recode, libid3-3.8.3-dev (>= 3.8.3-4.2),
 libaudiofile-dev (>> 0.3.0), libogg-dev, libvorbis-dev (>= 1.0.0-2), 
 libflac++-dev (>= 1.1.4), libmad0-dev, libgsl0-dev,
 libasound2-dev [!kfreebsd-amd64 !kfreebsd-i386 !hurd-i386],
 libfftw3-dev,
 poxml, gawk, cmake
Homepage: http://kwave.sourceforge.net
Standards-Version: 3.8.4
Vcs-Svn: svn://svn.debian.org/pkg-kde/kde-extras/kwave/trunk
Vcs-Browser: http://svn.debian.org/wsvn/pkg-kde/kde-extras/kwave/trunk?op=log


Package: kwave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: sound editor for KDE
 "Kwave" is a simple sound editor for KDE. Its features include:
   * simple cut, copy and paste functions
   * undo/redo
   * simple filter design tools
   * a small editor for additive synthesis
   * labeling of signals
   * some analysis functions such as Sonagram or Fourier Transformation
   * internally uses 24 bit integer sample data
   * free selectable sample rates
   * support for editing of multi-channel files
   * playback of multi-channel audio files (audio output will be mixed
     down to mono or stereo)
   * extensible through an easy-to-use plugin interface
 .
  Author:   Thomas Eschenbacher <Thomas.Eschenbacher@gmx.de>

Package: kwave-dbg
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kwave (= ${binary:Version}) 
Priority: extra
Section: debug
Description: sound editor for KDE - debug symbols
 "Kwave" is a simple sound editor for KDE.
 .
 This package includes the debug symbols.
